[Unit]
Description=Create AP Service
After=network.target

[Service]
Type=simple
#ExecStartPre=ifdown wlan0
ExecStartPre=ip link set wlan0 down
ExecStart=/data/start_ap.sh
#ExecStopPost=ifup wlan0
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target


